<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback Management System</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/apprentices/}">
                            <img src="/images/endava-logo.png" width="50">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/apprentices/}">Apprentices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories/}">Categories</a>
                    </li>
                </ul>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="#">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <h1>List of categories</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/categories/new/}" class="btn btn-dark btn-sm mb-3">Add Category</a>
            </div>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr class="table-active" th:each="category: ${categories}">
                    <th scope="row">
                        <span th:text="${category.name}"></span>
                    </th>
                    <td>
                        <div class="float-end">
                            <form class="btn btn-dark" th:action="@{/categories/{id}(id=${category.id})}" th:method="put">
                                <input class="btn btn-dark" type="submit" value="Update">
                            </form>
                            <form class="btn btn-dark" th:action="@{/categories/{id}(id=${category.id})}" th:method="delete">
                                <input class="btn btn-dark" type="submit" value="Delete">
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>